# SSH keys and sensitive files
mojkljucek
mojkljucek.pub
id_ed25519
id_ed25519.pub
*.pem
*.ppk
*.key
.env
# Node / Next / general
node_modules/
.next/
dist/
build/
.env
.env.local
.env.*.local
.DS_Store
*.log
coverage/
mojkljucek
mojkljucek.pub
id_ed25519
id_ed25519.pub
*.pem
*.ppk
*.key
.env
